<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="cabecera(tituloPagina)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title th:text="${tituloPagina}">Home</title>
        <style>
            body {
                background-image: url("templates/travel_trip_logo.png");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>

    <body>

    </body>
</html>